@import 'variables';

$textHandleSize: 7px;

.textEditor {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.textEditor--imageContainer {
  position: absolute;

  .imageWithLayers {
    width: 100%;
    height: 100%;
  }
}

.textEditor--handle {
  position: absolute;
  width: $textHandleSize;
  height: $textHandleSize;
  background-color: #fff;
  z-index: 2;

  &.top {
    top: -$textHandleSize / 2;

    &.left {
      cursor: nwse-resize;
    }

    &.center {
      cursor: ns-resize;
    }

    &.right {
      cursor: nesw-resize;
    }
  }

  &.left {
    left: -$textHandleSize / 2;
  }

  &.bottom {
    bottom: -$textHandleSize / 2;

    &.left {
      cursor: nesw-resize;
    }

    &.center {
      cursor: ns-resize;
    }

    &.right {
      cursor: nwse-resize;
    }
  }

  &.right {
    right: -$textHandleSize / 2;
  }

  // &.top {
  //   top: (-$textHandleSize / 2) + 0.5px;

  //   &.left {
  //     cursor: nwse-resize;
  //   }

  //   &.center {
  //     cursor: ns-resize;
  //   }

  //   &.right {
  //     cursor: nesw-resize;
  //   }
  // }
  // &.middle {

  //   &.left {
  //     cursor: ew-resize;
  //   }

  //   &.right {
  //     cursor: ew-resize;
  //   }
  // }
  // &.bottom {

  //   &.left {
  //     cursor: nesw-resize;
  //   }

  //   &.center {
  //     cursor: ns-resize;
  //   }

  //   &.right {
  //     cursor: nwse-resize;
  //   }
  // }
}
.textEditor--textFrame {
  position: absolute;
  border: 1px solid rgba(255,255,255,0.5);
  cursor: move;
  z-index: 2;
}

.textEditor--controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .textEditor--control {
    padding: 20px;
    color: white;
  }
}