@import '~sass-svg-uri/svg-uri';
@import 'variables';

.swatchSwitchers {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  > div[class$='SwatchSwitcher'] {
    padding: 7px;
    margin: 0 7px;
    display: flex;
    flex-flow: row nowrap;
    background: $colorGreyLight;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
    border-radius: 0 0 3px 3px;

    > div[class$='SwatchSwitcher'] {
      margin: 0 7px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .styleSwatch {
    width: 36px;
    height: 36px;
    margin: 0 0 0 3px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    line-height: 36px;
    background: $colorGreyDark;
    cursor: pointer;
    opacity: 0.5;

    &:first-child {
      margin: 0;
    }

    &.is-selected {
      opacity: 1;
      transition: opacity 0.15s ease;
    }

    .removeSwatch {
      display: none;
    }
  }

  .formatSwatchSwitcher--swatch {
    text-indent: 9999px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 5px;

    &:focus {
      outline: none;
    }

    .formatSwatch--icon {
      display: block;
      background: #fff;
      border-radius: 1px;
      margin: 0 auto;
    }
  }

  .filterSwatchSwitcher--swatch,
  .colorSwatchSwitcher--swatch {
    border: 1px solid transparent;
  }
}
